<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos de futbol</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row p-4">
            <div class="col-4">
                <a href="/chile" class="w-100 h-100 btn {{estadocl}}"><img style="width: 150px; height: auto;" src="{% static 'images/chile.png' %}" alt="no cargo :C pipipipi"></a>
            </div>
            <div class="col-4">
                <a href="/brasil" class="w-100 h-100 btn {{estadobr}}"><img style="width: 100px; height: auto;" src="{% static 'images/brasil.png' %}" alt="no cargo :C pipipipi"></a>
            </div>
            <div class="col-4">
                <a href="/argentina" class="w-100 h-100 btn {{estadoar}}"><img style="width: 100px; height: auto;" src="{% static 'images/argentina.png' %}" alt="no cargo :C pipipipi"></a>
            </div>
        </div>
        <div class="row p-5">
            <h4>Nombre equipo: </h4><p>{{nombre}}</p>
            <h4>Fecha creacion: </h4><p>{{fecha}}</p>
            <h4>Copas americas: </h4><p>{{copaA}}</p>
            <h4>Participaciones en Copas mundiales: </h4> <p>{{PcopaM}}</p>
        </div>
        <div>
            <a class="btn btn-primary" href="/">Inicio</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>